<div class="container text-center">
	<br>
	<div class="login">
		<h4>Log In Here</h4>
		<br>
		<%= render 'sessions/form' %>
	</div>
	<br>
	<div class="register">
		<%= link_to('Register As An Artist', '/artists/new') %>
		//
		<%= link_to('Register As A Fan', '/fans/new') %>
	</div>

</div>