.container {
  margin-top: 2%;
	text-align: center;
  border: 1px solid black;
}

.artist-photo {
  margin: 1%;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid black;
  overflow: hidden;
}

.artist-name {
  margin: 1%;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid black;
}

.artist-email {
  margin: 1%;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid black;
}

.artist-location {
  margin: 1%;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid black;
}

.artist-details {
  margin: 1%;
  display: inline-block;
  border: 1px solid black;
}

.artist-bio {
  margin: 1%;
  display: inline-block;
  border: 1px solid black;
}

.artist-followers {
  margin: 1%;
  margin-left: 15%;
  display: inline-block;
  border: 1px solid black;
}

.artist-shows {
  margin: 1%;
  display: inline-block;
  border: 1px solid black;
}

.row {
  margin: auto;
}