.header-nav {
  text-align: center;
  margin: auto;
}

.container {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
	text-align: center;
  border: 1px solid black;
}

.artist-photo {
  margin: 1%;
  height: 22em;
  margin-left: 7%;
  display: inline-block;
  border: 1px solid black;
  overflow: hidden;
}

.artist-name {
  margin: 1%;
  padding: 0;
  display: inline-block;
  border: 1px solid black;
}

.artist-email {
  margin: 1%;
  display: inline-block;
  border: 1px solid black;
}

.artist-location {
  margin: 1%;
  display: inline-block;
  border: 1px solid black;
}

.artist-details {
  margin: 1%;
  padding: 3%;
  height: 22em;
  display: inline-block;
  border: 1px solid black;
}

.artist-bio {
  margin: 1%;

  height: 22em;
  display: inline-block;
  border: 1px solid black;
  overflow: auto;
}

.artist-followers {
  margin: 1%;
  height: 30em;
  margin-left: 15%;
  display: inline-block;
  border: 1px solid black;
  overflow: auto;
}

.artist-shows {
  margin: 1%;
  height: 30em;
  display: inline-block;
  border: 1px solid black;
  overflow: auto;
}

.row {
  margin: auto;
}

.fan-followings {
  margin: 1%;
  height: 30em;
  margin-left: 6.75%;
  display: inline-block;
  border: 1px solid black;
  overflow: auto;
}